# CSCI316 Individual Assignment 1 - Task 1
This code include:
1. Create one Pandas data frame for this data set.
2. Identify the missing values. Propose a method to clean the missing values. The following steps are performed on the cleaned data.
3. Perform z-score normalization of the values in the attribute “Na_to_K”. Show the mean and variance of the normalized values.
4. Create four bins for the attribute “Na_to_K” such that the bins contain (approximately) equivalent numbers of records (samples).
5. Apply one-hot-encoding to the attribute “Cholesterol”.
6. Define at least one new attribute based on existing attribute, and explain your reason behind your definition.

### Attributes:
* Age (Age of the Patient),
* Sex (Gender of the patients),
* BP (Blood Pressure Levels),
* Cholesterol (Cholesterol levels),
* Na_to_K (Sodium to potassium Ration in Blood),
* Drug (Drug Type)

!! Must use Pandas in Python to clean and pre-process this dataset. (cannot use any ML library)

# 1. Create one Pandas data frame for this data set.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("drugData.csv")

In [5]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           197 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [31]:
df.shape

(200, 6)

In [32]:
df.isnull().sum()

Age            0
Sex            0
BP             3
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [33]:
unique_values_age = df['Age'].unique()

print(unique_values_age)

[23 47 28 61 22 49 41 60 43 34 74 50 16 69 32 57 63 48 33 31 39 45 18 65
 53 46 15 73 58 66 37 68 67 62 24 26 40 38 29 17 54 70 36 19 64 59 51 42
 56 20 72 35 52 55 30 21 25]

In [34]:
unique_values_sex = df['Sex'].unique()

print(unique_values_sex)

['F' 'M']

In [35]:
unique_values_bp = df['BP'].unique()

print(unique_values_bp)

['HIGH' 'LOW' 'NORMAL' nan]

In [36]:
unique_values_age = df['Age'].unique()

print(unique_values_age)

[23 47 28 61 22 49 41 60 43 34 74 50 16 69 32 57 63 48 33 31 39 45 18 65
 53 46 15 73 58 66 37 68 67 62 24 26 40 38 29 17 54 70 36 19 64 59 51 42
 56 20 72 35 52 55 30 21 25]

In [37]:
unique_values_cholesterol = df['Cholesterol'].unique()

print(unique_values_cholesterol)

['HIGH' 'NORMAL']

In [38]:
unique_values_Na_to_K = df['Na_to_K'].unique()

print(unique_values_Na_to_K)

[25.355 13.093 10.114  7.798 18.043  8.607 16.275 11.037 15.171 19.368
 11.767 19.199 15.376 20.942 12.703 15.516 11.455 13.972  7.298 25.974
 19.128 25.917 30.568 15.036 33.486 18.809 30.366  9.381 22.697 17.951
  8.75   9.567 11.014 31.876 14.133  7.285  9.445 13.938  9.709  9.084
 19.221 14.239 15.79  12.26  12.295  8.107 13.091 10.291 31.686 19.796
 19.416 10.898 27.183 18.457 10.189 14.16  11.34  27.826 10.091 18.703
 29.875  9.475 20.693  8.37  13.303 27.05  12.856 10.832 24.658 24.276
 13.967 19.675 10.605 22.905 17.069 20.909 11.198 19.161 13.313 10.84
 13.934  7.761  9.712 11.326 10.067 13.935 13.597 15.478 23.091 17.211
 16.594 15.156 29.45  29.271 15.015 11.424 38.247 25.395 35.639 16.725
 11.871 12.854 13.127  8.966 28.294  8.968 11.953 20.013  9.677 16.85
  7.49   6.683  9.17  13.769  9.281 18.295  9.514 10.103 10.292 25.475
 27.064 17.206 22.456 16.753 12.495 25.969 16.347  7.845 33.542  7.477
 20.489 32.922 13.598 25.786 21.036 11.939 10.977 12.894 11.343 10.065
  6.269 25.741  8.621 15.436  9.664  9.443 12.006 12.307  7.34   8.151
  8.7   11.009  7.261 14.642 16.724 10.537 11.227 22.963 10.444 12.923
 10.443  9.945 12.859 28.632 19.007 26.645 14.216 23.003 11.262 12.879
 10.017 17.225 18.739 12.766 18.348 10.446 19.011 15.969 15.891 22.818
 13.884 11.686 15.49  37.188 25.893  9.849 10.403 34.997 20.932 18.991
  8.011 16.31   6.769 34.686 11.567  9.894 14.02  11.349]

In [39]:
unique_values_drug = df['Drug'].unique()

print(unique_values_drug)

['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']

There is no outliers in any columns.
Only BP has NaN value.

In [40]:
value_counts_bp = df['BP'].value_counts()

print(value_counts_bp)

HIGH      77
LOW       64
NORMAL    56
Name: BP, dtype: int64

## (2) – (5), append the new columns to the existing Pandas dataframe.

# 2. Identify the missing values. Propose a method to clean the missing values.

In [6]:
df.dropna(subset=['BP'], inplace=True)

In [7]:
df.shape

(197, 6)

In [8]:
unique_values_bp = df['BP'].unique()

print(unique_values_bp)

['HIGH' 'LOW' 'NORMAL']

In [9]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

Since missing values only exist in the "BP" column, and there are only three rows with missing values, it is considered that the number of missing values is quite small. Therefore, deleting the rows with missing values is deemed to be a safe approach.

# 3. Perform z-score normalization of the values in the attribute “Na_to_K”. Show the mean and variance of the normalized values.

In [10]:
# Calculate mean and standard deviation
mean_value = df['Na_to_K'].mean()
std_value = df['Na_to_K'].std()

# Perform z-score normalization
df['Na_to_K_normalized'] = (df['Na_to_K'] - mean_value) / std_value

# Display mean and variance of the normalized values
mean_normalized = df['Na_to_K_normalized'].mean()
variance_normalized = df['Na_to_K_normalized'].var()

# Add mean and variance of normalized values to the DataFrame
df['Mean_Na_to_K_normalized'] = mean_normalized
df['Variance_Na_to_K_normalized'] = variance_normalized

# Display the updated DataFrame with normalized values, mean, and variance
print(df[['Na_to_K', 'Na_to_K_normalized', 'Mean_Na_to_K_normalized', 'Variance_Na_to_K_normalized']])

     Na_to_K  Na_to_K_normalized  Mean_Na_to_K_normalized  \
0     25.355            1.269844            -1.082045e-16
1     13.093           -0.419364            -1.082045e-16
2     10.114           -0.829749            -1.082045e-16
3      7.798           -1.148801            -1.082045e-16
4     18.043            0.262546            -1.082045e-16
..       ...                 ...                      ...
195   11.567           -0.629585            -1.082045e-16
196   12.006           -0.569108            -1.082045e-16
197    9.894           -0.860057            -1.082045e-16
198   14.020           -0.291661            -1.082045e-16
199   11.349           -0.659616            -1.082045e-16

     Variance_Na_to_K_normalized
0                            1.0
1                            1.0
2                            1.0
3                            1.0
4                            1.0
..                           ...
195                          1.0
196                          1.0
197                          1.0
198                          1.0
199                          1.0

[197 rows x 4 columns]

# 4. Create four bins for the attribute “Na_to_K” such that the bins contain (approximately) equivalent numbers of records (samples).

In [18]:
# Create 4 bins with approximately equal numbers of records
df['Na_to_K_bins'] = pd.qcut(df['Na_to_K'], q=4, labels=False)
                          #labels=['Low', 'Medium-Low', 'Medium-High', 'High']

# Display the DataFrame with bins
print(df[['Na_to_K', 'Na_to_K_bins']])

# Count the number of values in each bin
bin_counts = df['Na_to_K_bins'].value_counts()

# Check if each bins contain equivalent number of records.
print("Number of values in each bin:")
print(bin_counts)

     Na_to_K  Na_to_K_bins
0     25.355             3
1     13.093             1
2     10.114             0
3      7.798             0
4     18.043             2
..       ...           ...
195   11.567             1
196   12.006             1
197    9.894             0
198   14.020             2
199   11.349             1

[197 rows x 2 columns]
Number of values in each bin:
0    50
3    49
1    49
2    49
Name: Na_to_K_bins, dtype: int64

If data would be used for modelling, categorical values must be converted into numerical value. Therefore, I initially set `labels=False`, but if labels should be defined as such a word, it would be `labels=['Low', 'Medium-Low', 'Medium-High', 'High']`

# 5. Apply one-hot-encoding to the attribute “Cholesterol”.

In [14]:
# Apply one-hot encoding to the 'Cholesterol' column
df = pd.get_dummies(df, columns=['Cholesterol'], prefix='Cholesterol')

# Display the DataFrame with one-hot encoded values
print("One-hot encoding applied to Cholesterol:")
print(df)

One-hot encoding applied to Cholesterol:
     Age Sex      BP  Na_to_K   Drug  Na_to_K_normalized  \
0     23   F    HIGH   25.355  DrugY            1.269844
1     47   M     LOW   13.093  drugC           -0.419364
2     47   M     LOW   10.114  drugC           -0.829749
3     28   F  NORMAL    7.798  drugX           -1.148801
4     61   F     LOW   18.043  DrugY            0.262546
..   ...  ..     ...      ...    ...                 ...
195   56   F     LOW   11.567  drugC           -0.629585
196   16   M     LOW   12.006  drugC           -0.569108
197   52   M  NORMAL    9.894  drugX           -0.860057
198   23   M  NORMAL   14.020  drugX           -0.291661
199   40   F     LOW   11.349  drugX           -0.659616

     Mean_Na_to_K_normalized  Variance_Na_to_K_normalized Na_to_K_bins  \
0              -1.082045e-16                          1.0         High
1              -1.082045e-16                          1.0   Medium-Low
2              -1.082045e-16                          1.0          Low
3              -1.082045e-16                          1.0          Low
4              -1.082045e-16                          1.0  Medium-High
..                       ...                          ...          ...
195            -1.082045e-16                          1.0   Medium-Low
196            -1.082045e-16                          1.0   Medium-Low
197            -1.082045e-16                          1.0          Low
198            -1.082045e-16                          1.0  Medium-High
199            -1.082045e-16                          1.0   Medium-Low

     Cholesterol_HIGH  Cholesterol_NORMAL
0                   1                   0
1                   1                   0
2                   1                   0
3                   1                   0
4                   1                   0
..                ...                 ...
195                 1                   0
196                 1                   0
197                 1                   0
198                 0                   1
199                 0                   1

[197 rows x 11 columns]

# 6. Define at least one new attribute based on existing attribute, and explain your reason behind your definition.

In [15]:
# Define Age_Group
def categorize_age(age):
    if age <= 12:
        return 'Child'
    elif age <= 18:
        return 'Adolescent'
    elif age <= 25:
        return 'Young Adult'
    elif age <= 40:
        return 'Adult'
    elif age <= 60:
        return 'Middle-aged Adult'
    else:
        return 'Elderly Adult'

# Apply categorization to create Age_Group
df['Age_Group'] = df['Age'].apply(categorize_age)

# Display the updated DataFrame
print(df)

     Age Sex      BP  Na_to_K   Drug  Na_to_K_normalized  \
0     23   F    HIGH   25.355  DrugY            1.269844
1     47   M     LOW   13.093  drugC           -0.419364
2     47   M     LOW   10.114  drugC           -0.829749
3     28   F  NORMAL    7.798  drugX           -1.148801
4     61   F     LOW   18.043  DrugY            0.262546
..   ...  ..     ...      ...    ...                 ...
195   56   F     LOW   11.567  drugC           -0.629585
196   16   M     LOW   12.006  drugC           -0.569108
197   52   M  NORMAL    9.894  drugX           -0.860057
198   23   M  NORMAL   14.020  drugX           -0.291661
199   40   F     LOW   11.349  drugX           -0.659616

     Mean_Na_to_K_normalized  Variance_Na_to_K_normalized Na_to_K_bins  \
0              -1.082045e-16                          1.0         High
1              -1.082045e-16                          1.0   Medium-Low
2              -1.082045e-16                          1.0          Low
3              -1.082045e-16                          1.0          Low
4              -1.082045e-16                          1.0  Medium-High
..                       ...                          ...          ...
195            -1.082045e-16                          1.0   Medium-Low
196            -1.082045e-16                          1.0   Medium-Low
197            -1.082045e-16                          1.0          Low
198            -1.082045e-16                          1.0  Medium-High
199            -1.082045e-16                          1.0   Medium-Low

     Cholesterol_HIGH  Cholesterol_NORMAL          Age_Group
0                   1                   0        Young Adult
1                   1                   0  Middle-aged Adult
2                   1                   0  Middle-aged Adult
3                   1                   0              Adult
4                   1                   0      Elderly Adult
..                ...                 ...                ...
195                 1                   0  Middle-aged Adult
196                 1                   0         Adolescent
197                 1                   0  Middle-aged Adult
198                 0                   1        Young Adult
199                 0                   1              Adult

[197 rows x 12 columns]

- Grouping patients into broader age categories simplifies the analysis process, making it easier to identify patterns or trends in the data. It allows for a more straightforward comparison of health outcomes or treatment responses across different age groups.
- Healthcare professionals can tailor interventions, treatments, or preventive measures based on age categories. For example, they may implement age-specific screening protocols, vaccination strategies, or lifestyle recommendations.

# Conclusion

In [19]:
df.head()

,Age,Sex,BP,Na_to_K,Drug,Na_to_K_normalized,Mean_Na_to_K_normalized,Variance_Na_to_K_normalized,Na_to_K_bins,Cholesterol_HIGH,Cholesterol_NORMAL,Age_Group
0,23,F,HIGH,25.355,DrugY,1.269844,-1.082045e-16,1.0,3,1,0,Young Adult
1,47,M,LOW,13.093,drugC,-0.419364,-1.082045e-16,1.0,1,1,0,Middle-aged Adult
2,47,M,LOW,10.114,drugC,-0.829749,-1.082045e-16,1.0,0,1,0,Middle-aged Adult
3,28,F,NORMAL,7.798,drugX,-1.148801,-1.082045e-16,1.0,0,1,0,Adult
4,61,F,LOW,18.043,DrugY,0.262546,-1.082045e-16,1.0,2,1,0,Elderly Adult

In [20]:
df.shape

(197, 12)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 199
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          197 non-null    int64
 1   Sex                          197 non-null    object
 2   BP                           197 non-null    object
 3   Na_to_K                      197 non-null    float64
 4   Drug                         197 non-null    object
 5   Na_to_K_normalized           197 non-null    float64
 6   Mean_Na_to_K_normalized      197 non-null    float64
 7   Variance_Na_to_K_normalized  197 non-null    float64
 8   Na_to_K_bins                 197 non-null    int64
 9   Cholesterol_HIGH             197 non-null    uint8
 10  Cholesterol_NORMAL           197 non-null    uint8
 11  Age_Group                    197 non-null    object
dtypes: float64(4), int64(2), object(4), uint8(2)
memory usage: 17.3+ KB

Initially, there were only six columns in the dataset. However, after completing requirements (2) to (5), the number of columns increased to twelve. It is expected that each of the newly added columns will provide useful values to better analyze the data.